/*-------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------*/


/*-------------------------------------------------- Header Responsiveness -------------------------------------------------------------------*/


/*------------------------------------------------- < 1550px ---------------------------------------------------------*/

@media only screen and (max-width: 1550px ) {

   .contact-info ul #discord{ display: none; }
}  

/*------------------------------------------------- < 1400px ---------------------------------------------------------*/

@media only screen and (max-width: 1400px ) { 

    .bundles { background: none; }
 }  

/*------------------------------------------------- < 1000px ---------------------------------------------------------*/

@media only screen and (max-width: 1000px ) {
    
    .baseshop1 h1, .baseshop2 h1 {
        font-size: 20px;
    }
    .baseshop1 h2, .baseshop2 h2 {
        font-size: 50px;
    }
    .baseshop1 h3, .baseshop2 h3  {
        font-size: 30px;
    }
    .overlay h1{
        font-size: 65px;
        padding-top: 200px;
    }
    .overlay h2{
        font-size: 25px;
        font-weight: 400;
    }
 }  

/*------------------------------------------------ 599px < 767px ------------------------------------------------------*/

@media only screen and (min-width: 599px) and (max-width: 767px) {

    .logo {
        text-align: center;
        padding-left: 10px;
    }
    .menu-area-main {
        height: 256px;
        overflow-y: auto;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat,
    .menu-area-main .megamenu .women-cat,
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        height: 19px;
    }
    .category-box.women-box {
        display: none;
    }
    .cart-box {
        display: inline-block;
        margin: 0px 30px;
    }
    .wish-box {
        float: none;
        margin: 0px 30px;
        display: inline-block;
    }
    .menu-add {
        display: none;
    }
    .category-box {
        display: none;
    }
    .mean-container .mean-nav ul li ol {
        padding: 0px;
    }
    .mean-container .mean-nav ul li a {
        padding: 10px 20px;
        width: 94.8%;
    }
    .mean-container .mean-nav ul li li a {
        width: 92%;
        padding: 1em 4%;
    }
    .mean-container .mean-nav ul li li li a {
        width: 100%;
    }
    #collapseFilter.d-md-block {
        padding: 30px 0px;
    }
    .overlay h1{
        font-size: 55px;
        padding-top: 160px;
    }
    .overlay h2{
        font-size: 20px;
        font-weight: 400;
    }
}

/*------------------------------------------------ 280px < 599px ------------------------------------------------------*/

@media only screen and (min-width: 280px) and (max-width: 599px) {

    .cart-content-right {
        padding-bottom: 5px;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a {
        padding: 1em 4%;
        width: 92%;
    }
    .mean-container .mean-nav ul li li a {
        width: 90%;
        padding: 1em 5%;
    }
    .mean-container .sub-full.megamenu-categories ol li a {
        padding: 5px 0px;
        text-transform: capitalize;
        width: 100%;
    }
    .megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
        width: auto;
        border: none;
        float: none;
    }
    .menu-area-main {
        height: 290px;
        overflow-y: auto;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        top: 0;
    }
    
}

@media only screen and (min-width: 400px) and (max-width: 599px) {
    .overlay h1{
        font-size: 40px;
        padding-top: 110px;
    }
    .overlay h2{
        font-size: 15px;
        font-weight: 400;
    }
}

@media only screen and (max-width: 399px) {
    .overlay h1{
        font-size: 30px;
        padding-top: 70px;
    }
    .overlay h2{
        font-size: 10px;
        font-weight: 400;
    }
}

/*-------------------------------------------------- Banner Responsiveness -------------------------------------------------------------------*/

@media (min-width: 992px) and (max-width: 1199px) {
    .main-menu ul > li a {padding: 22px 20px;}
    .contact-info {display: none;}
    .banner-main .carousel-caption span {font-size: 45px; line-height: 50px; padding-bottom: 10px;}
    .banner-main .carousel-caption h1 {font-size: 55px; line-height: 63px;}
    .banner-main .carousel-caption p {padding: 15px 0px 25px 0px;}
    .header-border .title-border {
        margin-top: 20px;
        padding-bottom: 20px;
   }
}

@media (min-width: 768px) and (max-width: 991px) {
    .logo {padding-top: 8px;}
    .contact-info {display: none;}
    .main-menu ul > li a {padding: 8px 14px ; padding-top: 20px;}
    .banner-main .carousel-caption h1 {

        font-size: 36px;
        padding-top: 30px;

    }
    .banner-main .carousel-caption span {font-size: 30px; line-height: 19px; padding-bottom: 0px;}
    .banner-main .carousel-caption h1 {font-size: 35px;  padding-top: 15px; line-height: 40px;}
    .banner-main .carousel-caption p  {font-size: 17px; padding: 10px 0px 20px 0px;}
    .banner-main .carousel-caption .buynow {width: 149px; padding: 7px 0;}
    .bundles .about_box {
        padding-top: 0px;
    }
    .bundles .about_box span {font-size: 44px;}
    .bundle-img {

        margin-top: 30px;

    }
    .bundle-box_ span {font-size: 44px;}
    .testomonial_section {

        padding: 0 91px;

    }
    .header-border .title-border {
        margin-top: 20px;
        padding-bottom: 20px;
   }
}

@media (min-width: 576px) and (max-width: 767px) {
    .contact-info {display: none;}
    .logo {padding-top: 4px;}
    .mean-container .mean-bar {background: #55aad1;}
    .mean-container .mean-bar {margin-left: 30px;}
    .banner-main .carousel-caption span {font-size: 25px; line-height: 19px;}
    .banner-main .carousel-caption h1 {font-size: 30px; line-height: 40px;}
    .banner-main .carousel-caption p  {display: none;}
    .banner-main .carousel-caption .buynow {width: 149px; padding: 7px 0;}
    .titlepage h2 {
    font-size: 52px; 
    }
    .bundles .bundle-box_ { margin-bottom: 30px; }
    .mrgn {margin-top: 0px;}
    .img-box {display: none;}
    ul.link li { padding: 8px 8px; }
    .header-border .title-border {
        margin-top: 10px;
        padding-bottom: 10px;
   }
}


@media (max-width: 575px) {

    .relative {left: 21%;}
    .mean-container .mean-bar {margin-bottom: -1px;}
    .contact-info {display: none;}
    .header {background: inherit; padding-bottom: 0; padding-top: 30px;}
    .img-box {display: none;} 
    .logo {float: inherit; padding-bottom: 10px; text-align: center;}

    #myCarousel a.carousel-control-prev {width: 45px; height: 45px;}
    #myCarousel a.carousel-control-next {width: 45px; height: 45px;}
    .banner-main .carousel-item img {height: 290px;}
    .banner-main .carousel-caption span {font-size: 21px; line-height: 19px;}
    .banner-main .carousel-caption h1 {font-size: 20px; line-height: 40px;}
    .banner-main .carousel-caption p  {display: none;}
    .banner-main .carousel-caption .buynow {width: 149px; padding: 7px 0;}
    .titlepage h2 {font-size: 42px;}
    .bundles .bundle-box span {font-size: 33px; line-height: 53px;}
    .mrgn {margin-top: 30px;}
    
    .baseshop1 {background-attachment: fixed; background-size:cover; height: 400px;}
    .baseshop1 h2 {font-size: 40px;}
    .baseshop2 {background-attachment: fixed; background-size:cover; height: 400px;}
    .baseshop2 h2 {font-size: 40px;}
    .footer .headinga span {
        font-size: 16px;

    }
    .bundles .bundle-box_ { margin-bottom: 30px; }
    .bundles .bundle-box_ span {font-size: 33px; line-height: 53px;}
    ul.link li {
        padding: 8px 9px;
        padding-bottom: 0px; 
    }
    .copyright {
        margin-top: 60px;
    }
    .header-border .title-border {
        margin-top: 6px;
        padding-bottom: 6px;
   }
}

/*-------------------------------------------------- dinoshop Responsiveness -----------------------------------------------------------------*/

@media (max-width: 980px) {

    .dino-shop {
      flex-direction: column; 
      margin-top: 30px;
    }
    .left-column, .right-column { width: 100%;} 
    .left-column { margin: 0px; }
    .left-column .showcase-image  { height: 510px; }
    .color-regions img { max-width: 450px; }
}
   
@media (max-width: 750px) {

    .left-column .showcase-image  { height: 400px; }
}

@media (max-width: 660px) {

    .left-column .showcase-image  { height: 330px; }
}

@media (max-width: 575px) {

    .left-column .showcase-image  { height: 300px; }
    .color-regions img { max-width: 380px; }
}

@media (max-width: 500px) {

    .left-column .showcase-image  {
        height: 250px;
    }
    .left-column .thumbnail-first .thumbnail-image, 
    .left-column .thumbnail-second .thumbnail-image {
        width: 133.5px; height: 75px;
    }
    .dino-price h2 {
        margin-top: 2px;
        font-size: 11px;
        font-weight: 300;
    }
    .dino-price span {
        font-size: 21px;
    }
    
    .dino-price h3 {
        display: none;
    }
    .price-card {
        padding: 4px 8px;
        margin: 0px 5px;
    }
}

@media (max-width: 400px) {

    .left-column .showcase-image  {
        height: 190px;
    }
    .left-column .thumbnail-first .thumbnail-image, 
    .left-column .thumbnail-second .thumbnail-image {
        width: 133.5px; height: 75px;
    }
    .dino-description span {
        font-size: 25px;
    }
    .dino-description h1 {
        font-size: 35px;
    }
    .dino-shop {
        padding-left: 7px;
        padding-right: 7px;
    }
    .color-regions {
        position: relative;
        height: 50px;
    }
    .color-regions img {
        height: 70%;
    }
    .color-section {
        margin-bottom: 20px;
    }

    .footer {
        padding-top: 30px;
    }
    .footer .headinga h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .hidden {
        margin-top: 10px;
    }
}

